In [ ]:
## Pandas is an open source, Bsd-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

## Agenda  1.what is data frames? 2.what is data series? 3.different operations in Pandas

In [2]:
## DataFrame is combination of many columns and many rows at least it should be greater than one column And it should be greater than one row.
## Data series is either it is one row or one column.
## First step is to import pandas.
import pandas as pd
import numpy as np

In [6]:
df.head()

      col1  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [5]:
## with DataFrames
df = pd.DataFrame(np.arange(0, 20).reshape(5, 4), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'],columns=['col1', 'col2', 'col3', 'col4'])

In [8]:
df.to_csv('Test1.csv')

In [9]:
## Accessing the elements
## 1. .loc 2. .iloc
df.loc['Row1']

col1    0
col2    1
col3    2
col4    3
Name: Row1, dtype: int64

In [10]:
type(df.loc['Row1'])

pandas.Series

In [11]:
df.iloc[0:2,0:3]

      col1  col2  col3
Row1     0     1     2
Row2     4     5     6

In [12]:
type(df.iloc[0:2,0:3])

pandas.DataFrame

In [13]:
df.iloc[:,1:]

      col2  col3  col4
Row1     1     2     3
Row2     5     6     7
Row3     9    10    11
Row4    13    14    15
Row5    17    18    19

In [14]:
## covert DataFrames into array
## csv(comma separating value)
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [15]:
df.iloc[:,1:].values.shape

(5, 3)

In [16]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [20]:
df['col1'].value_counts()

col1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [21]:
df['col1'].unique()

array([ 0,  4,  8, 12, 16])